<div class="insta-influencer-card-container">
      <div class="insta-pic-business-show" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('<%= @influencer.photo %>');">
        <div class='insta-budget-container'>
          <div class='insta-budget'>
            <%= @influencer.username %>
          </div>
        </div>
        <div class='insta-product'><i class="fa fa-users" aria-hidden="true"></i> <%= @influencer.followers %></div>
      </div>
      <div class="business-insta-description">
        <div class="insta-title-container">
          <div class='influencer-show-insta-title'>
            My campaigns
          </div>
        </div>

        <div class="influencer-campaigns">
          <% (@influencer.applications).each do |application| %>
            <% if application.status == "Accept" %>
              <div class="influencer-campaigns">
              <div class="influencer-show-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=application.campaign.photo%>');">
                <div class="influencer-show-card-category"><%=application.status%>ed</div>
                <div class="influencer-show-card-description">
                  <h4><%= application.campaign.title %></h4>
                </div>
                <%= link_to "", campaign_path(application.campaign), class:"influencer-show-link"%>
              </div>
              </div>
            <% end %>
          <% end %>

        <div class="influencer-campaigns">
          <% (@influencer.applications).each do |application| %>
            <% if application.status == "Pending" %>
              <div class="influencer-show-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=application.campaign.photo%>');">
                <div class="influencer-show-card-category"><%=application.status%></div>
                <div class="influencer-show-card-description">
                  <h4> <%= application.campaign.title%> </h4>
                </div>
                <%= link_to "", campaign_path(application.campaign), class:"influencer-show-link"%>
              </div>
            <% end %>
          <% end %>
        </div>


  </div>
</div>
</div>

