<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

   <p><%= @influencer.photo %></p>
   <p><%= @influencer.username %></p>
   <p><%= @influencer.first_name %></p>
   <p><%= @influencer.last_name %></p>
   <p><%= @influencer.followers %></p>
   <p><%= @influencer.avg_photo_comments %></p>
   <p><%= @influencer.avg_photo_likes %></p>
   <p><%= @influencer.top_hashtags %></p>
   <p><%= @influencer.top_places %></p>
   <p><%= @influencer.address %></p>
   <p><%= @influencer.number %></p>

  </div>
</div>
