
<div class="business-card-container">
 <div class="card-carroussel">
   <div class="card-pic">

    <% (Pic.order(likes: :desc).where("influencer_id = ?", @influencer.id).limit(1)).each do |pic|%>
    <div class="card-background" style="background: url('<%= pic.pic_url %>');">
    <%= @likes = pic.likes%>

    </div>
    <% end %>
  </div>
</div>
<div>
  <p> <i class="fa fa-heart"></i><%= @likes %></p>
  <p><%= @influencer.followers %></p>
  <h4>Likes/Photo Ratio</h4>
  <p> <i class="fa fa-heart-o"></i><%= @influencer.avg_photo_likes %> / Photo</p>
  <h4>Comments/Photo Ratio</h4>
  <p><%= @influencer.avg_photo_comments %></p>
  <hr class="line">


  <i class="fa fa-heart-o"></i>    Love it? Check it!

</div>


</div>









