
<div class="main-container">

  <div class="app-show-container">

    <div class="app-show-left-container">
      <div class="influencer-card">
        <% (Pic.order(likes: :desc).where("influencer_id = ?", @application.influencer.id).limit(1)).each do |pic| %>
        <div class="app-top-pic-container" style="background: url('<%= pic.pic_url %>')";>
        </div>
        <div class="padding-text">
         <i class="fa fa-heart-o" ></i> <%= pic.likes %>
       </div>
       <% end %>
       <div class="top-tags">
         <% Tag.where("influencer_id = ?", 30).group(:name).order(count: :desc).limit(3).count.each do |t| %>
         <%= t[1] %>
         #<%= t[0] %>
         <% end %>
       </div>
       <div class="top-places">
         <% Place.where("influencer_id = ?", 30).group(:name).order(count: :desc).limit(3).count.each do |t| %>
         <%= t[1] %>
         <%= t[0] %>
         <% end %>
       </div>
       <div class="average-likes">
         average-likes <%= @application.influencer.avg_photo_likes
         %>
       </div>
       <div class="average-comments">
         average-comments <%= @application.influencer.avg_photo_comments
         %>
       </div>
       <div class="followers">
         followers <%= @application.influencer.followers %>
       </div>

     </div>


   </div>




   <div class="info-container">
     <div class="motivation">
       <%= @application.motivation %>
     </div>
     <div class="avatar">
       <%= image_tag @application.influencer.photo %>
     </div>
     <div class="app-show-status form-container">
       <div>
         <h4>Status</h4>
         <% if @application.status == "Pending" %>
         <p><%= @application.status %></p>
         <% else %>
         <p><%= @application.status %>ed</p>
         <%end%>
       </div>
       <div>
         <h4 class="text-center">Answer the Application</h4>
         <%= simple_form_for [@campaign, @application], method: :put, url: campaign_application_path(@campaign, @application), :html => {class: 'form-inline text-center'} do |f| %>
         <%= f.error_notification %>

         <%= f.input :status, collection: [ "Accept", "Reject"], label:false  %>

         <%= f.button :submit, 'Submit' %>
         <% end %>
       </div>
     </div>
   </div>



 </div>


</div>




