
<div class="container app-show-container">
<h1 class="text-center"> <%= @campaign.title %>: Application </h1>
    <div class="app-show-row">


      <div class=" app-show-left-container">
        <div class="form-container" style="margin-bottom:0px">
          <div class="app-infos-container">
            <%= image_tag @application.influencer.photo, class: "text-center avatar-app"%>
          </div>
          <p class="text-center"><%= @application.influencer.username %> </p>
          <h4 class="text-center" style="margin-top: 50px">Top Posts</h4>
          <div class="app-top-pic-container">
            <% (Pic.order(likes: :desc).where("influencer_id = ?", @application.influencer.id).limit(3)).each do |pic|%>
              <%= image_tag pic.pic_url, class: "app-top-pic" %>
              <%=pic.likes%> likes
            <% end %>
          </div>

        </div>
        <div class="app-show-status form-container">
          <div>
            <h4>Status</h4>
            <% if @application.status == "Pending" %>
              <p><%= @application.status %></p>
            <% else %>
              <p><%= @application.status %>ed</p>
            <%end%>
          </div>
          <div>
              <h4 class="text-center">Answer the Application</h4>
              <%= simple_form_for [@campaign, @application], method: :put, url: campaign_application_path(@campaign, @application), :html => {class: 'form-inline text-center'} do |f| %>
              <%= f.error_notification %>

              <%= f.input :status, collection: [ "Accept", "Reject"], label:false  %>

              <%= f.button :submit, 'Submit' %>
              <% end %>
          </div>
        </div>
      </div>


        <div class="form-container app-show-right-container">
          <h3>Infos</h3><br>

          <p>
          <div class="flexbox-app-show">
            <a>Average Comments/photo:</a> <a><%= @application.influencer.avg_photo_comments %></a>
          </div>
          </p>

          <p>
          <div class="flexbox-app-show">
          <a>Average Likes/photo:</a> <a><%= @application.influencer.avg_photo_likes %></a>
          </div>
          </p>

          <p>
          <div class="flexbox-app-show">
          <a>Followers:</a> <a><%=@application.influencer.followers %></a>
          </div>
          </p>

          <p>
          <div class="flexbox-app-show">
          <a>Most Used Tag:</a> <a><% Tag.where("influencer_id = ?", @application.influencer_id).each do |tag| %></a>
          #<%= tag.name %>
          <% end %>
          </div>
          </p><br>

          <h4>Motivation Speech</h4>
          <p><%= @application.motivation %></p><br>
      </div>
  </div>
</div>

