<footer class="site-footer">
    <div class="wrapperFull wrapperFull-dark">
      <div class="wrapper wrapper-thin section">
        <div class="text-group text-center">
          <ul class="footer-navigation">
            <li>
              <%= link_to "Home", home_path %>
            </li>
            <li>
              <%= link_to "Businesses", businesses_home_path %>
            </li>
            <li>
              <%= link_to "Influencers", influencers_home_path %>
            </li>
            <li>
              <%= link_to "About us", home_path %>
            </li>
          </ul>
          <ul class="social-list">
            <li>
              <%= link_to "https://twitter.com/Pic_Reward" do %><i class="fa fa-twitter-square" aria-hidden="true"></i><% end %>
            </li>
            <li>
              <%= link_to "http://instagram.com/pic_reward" do %><i class="fa fa-instagram" aria-hidden="true"></i><% end %>
            </li>
            <li>
              <%= link_to "https://www.facebook.com/picreward" do %><i class="fa fa-facebook-square" aria-hidden="true"></i><% end %>
            </li>
          </ul>
          <p>PICREWARD, CONNECTING BRANDS WITH INFLUENCERS</p>
        </div>
      </div>
    </div>
    <div class="wrapperFull wrapperFull-brand">
      <div class="wrapper wrapper-thin section section-short text-center">
        <p>&copy; PicReward. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
