<%= render 'shared/transparent_navbar'%>

<div class="business-home-banner" style="background-image: url('http://cdn.thedailybeast.com/content/dailybeast/articles/2015/04/11/instagrammer-of-the-week-nicolee-drake/jcr:content/image.crop.800.500.jpg/47625722.cached.jpg') ">
  <div class="business-home-banner-content">
    <p>Instagrammers can do the job for you</p>
  </div>
  <div class="arrow-link-container">
    <a href="#detail-influencer" class="link-details">
      <i class="fa fa-chevron-down floating margin-top-30"></i>
    </a>
  </div>
</div>

<div class="wrapper-influencer-home" id="detail-influencer">

  <div class="container">
    <div class="row">
      <div class="container-instagram-influencer-home">
        <div class="insta-pic-business-home col-xs-7">

        </div>
        <div class="insta-description-business-home">
          <h2 class="text-center">Private Advertising has just been boosted</h2>
          <hr class="hr-influencer-home">
          <h4>1. Create a campaign</h4>
          <h4>2. Wait influencers to apply to your campaign</h4>
          <h4>3. Validates influencer's applications you like</h4>
          <h4>4. See your product on the influencer's instagram account </h4>

          <p class="influencer-home-emojis"> PicReward
          <%= Emoji.find_by_alias("sunglasses").raw %>
          <%= Emoji.find_by_alias("rocket").raw %>
          <%= Emoji.find_by_alias("eyes").raw %>
          <%= Emoji.find_by_alias("moneybag").raw %>
          </p>
          <div class="business-home-button-container">
          <%= link_to "Create a campaign", new_campaign_path, class: "button-influencer-home brand-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="type-brands-title">
  <div>
    <h1 class="text-center">They've already trusted us</h1>
    <p> PicReward works for brands of all sizes. View a few case studies to see how other brands have had success</p>
  </div>
</div>

<div class="container-type-brands">
  <div class="small-brand-card">
    <div class="type-brand"> Start-Up</div>
    <div class="small-brand-logo"></div>
    <div class="brand-button type-brand-button">Results don't lie</div>
  </div>
  <div class="medium-brand-card">
    <div class="type-brand"> Medium Brand</div>
    <div class="medium-brand-logo">
      <div><%=image_tag('http://www.color13.com/wp-content/uploads/2016/01/logo-header-color13.png', class:"logo-brand")%></div>
    </div>
    <div class="brand-button type-brand-button">Results don't lie</div>
  </div>
  <div class="large-brand-card">
    <div class="type-brand"> Large Brand</div>
    <div class="large-brand-logo">
      <div><%=image_tag('https://www.seeklogo.net/wp-content/uploads/2013/11/nike-swoosh-vector-logo-400x400.png', class:"logo-brand")%></div>
    </div>
    <div class="brand-button type-brand-button">Results don't lie</div>
  </div>
</div>



<div class="wrapper-benefits">
  <div class="container">
    <div class="row">
      <h2 class="text-left col-xs-4" style="margin-top:100px; color: white">What would be your benefits?</h2>
      <div class="business-home-benefits-content text-left col-xs-4">
        <h4 style="color: white"><u>Total Control</u></h4>
        <p style="color: white; margin-bottom: 50px;">Use the dashboard to track all of the relevant data about your campaign’s effectiveness. Easily download full-rights photos created for your campaign to use anywhere you wish.</p>
        <h4 style="color: white"><u>Get content for your own feed</u></h4>
        <p style="color: white">You can reuse our influencers’ photos on your own Instagram page, Facebook, website, etc. If content is a priority, your campaign can ask them to supply extra photos beyond the ones they post.</p>
      </div>
      <div class="business-home-benefits-content text-left col-xs-4">
        <h4 style="color: white"><u>It's fast</u></h4>
        <p style="color: white; margin-bottom: 50px;">List a campaign in 6 minutes, review influencers 24 hours later, have them post within a week</p>
        <h4 style="color: white"><u>Transparency</u></h4>
        <p style="color: white ;margin-bottom: 50px;">See each Instagram influencer’s cost</p>
        <h4 style="color: white"><u>Gain exposure</u></h4>
        <p style="color: white ;">to millions of people in an organic way</p>
      </div>
    </div>
  </div>
</div>

<div class="type-brands-title" style="margin-top: 50px;">
  <div>
    <h1 class="text-center">In good Companies</h1>
    <p class="text-center"> Waiting for you to join </p>
  </div>
</div>


<div class="wrapper-brands">
  <%= image_tag('picreward_brands')%>
</div>













