<div class="wrapper-influencer-home">
  <p class="text-center title-swipebox">Target Advertising</p>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 container-instagram-influencer-home">
        <div class="insta-pic-business-home col-xs-7">

        </div>
        <div class="col-xs-4 insta-description">
          <h2 class="text-center">Private Advertising has just been boosted</h2>
          <hr class="hr-influencer-home">
          <h4>1. Create a campaign</h4>
          <h4>2. Wait influencers to apply to your campaign</h4>
          <h4>3. Validates influencer's applications you like</h4>
          <h4>4. See your product on the influencer's instagram account </h4>

          <p class="influencer-home-emojis"> PicReward
          <%= Emoji.find_by_alias("sunglasses").raw %>
          <%= Emoji.find_by_alias("rocket").raw %>
          <%= Emoji.find_by_alias("eyes").raw %>
          <%= Emoji.find_by_alias("moneybag").raw %>
          </p>
          <div class="business-home-button-container">
          <%= link_to "Create a campaign", new_campaign_path, class: "button-influencer-home brand-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>










