<div class="banner-home">
  <div class="left-side">
    <div class="hand-bckg">
      <%= image_tag 'PicHandMuffin.png' %>
      <%= image_tag 'PicHandWaffle.png' %>
      <%= image_tag 'PicHandShoes.png' %>
    </div>
    <div class="bckg">
      <%= image_tag 'Muffin.jpg' %>
      <%= image_tag 'Waffle.jpg' %>
      <%= image_tag 'Shoes.jpg' %>
    </div>
  </div>
  <div class="right-side">
    <%= link_to businesses_home_path do %>
    BUSINESS?
    <% end %>
    <%= link_to influencers_home_path do %>
    INFLUENCER?
    <% end %>
    <div>
      <h1> Instagram posting </h1>
    </div>
  </div>
</div>
