<div class="banner-home">
  <div class="left-side">
    <div class="hand-bckg">
      <%= image_tag 'pichandmuffin.png' %>
      <%= image_tag 'pichandwaffle.png' %>
      <%= image_tag 'pichandshoes.png'  %>
    </div>
    <div class="bckg">
      <%= image_tag 'muffin.png'        %>
      <%= image_tag 'waffle.png'        %>
      <%= image_tag 'shoes.png'         %>
    </div>

    <div class="left-text">
      <h1>Rethink</h1>
    </div>
  </div>
  <div class="right-side">
    <div class="right-text">
      <h1> Instagram posting </h1>
    </div>
    <div class="text-center-bottom">

      <%= link_to businesses_home_path do %>
      <h1><%= Emoji.find_by_alias("point_right").raw %>  Business?</h1>
      <% end %>
      <%= link_to influencers_home_path do %>
      <h1><%= Emoji.find_by_alias("point_right").raw %>  Influencer?</h1>
      <% end %>
    </h1>
  </div>
</div>
</div>
