<%= render 'shared/transparent_navbar'%>
<div class="influencer-home-banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url('http://cyneats.com/wp-content/uploads/2015/03/IMG_5687.jpg')">
  </div>
  <div class="influencer-home-banner-content">
    <p>I'm the new specie of photographer</p>
  </div>
</div>

<div class="wrapper-influencer-home">
  <p class="text-center title-swipebox">Your account matters</p>
  <div class="container">
    <div class="row">
      <div class="container-instagram-influencer-home">
        <div class="insta-pic-influencer-home">
        </div>
        <div class="insta-description-influencer-home">
          <h2 class="text-center">Use the power of your influence</h2>
          <hr class="hr-influencer-home">
          <h4>1. Sign In with Instagram </h4>
          <h4>2. Find a Campaign with a product you like</h4>
          <h4>3. Apply to the Campaign</h4>
          <h4>4. Take the Shot & Share your pic</h4>
          <p class="influencer-home-emojis"> PicReward
          <%= Emoji.find_by_alias("clap").raw %>
          <%= Emoji.find_by_alias("rocket").raw %>
          <%= Emoji.find_by_alias("eyes").raw %>
          <%= Emoji.find_by_alias("moneybag").raw %>
          </p>
          <div class="influencer-home-button-container">
          <%= link_to "See Campaigns", campaigns_path, class: "button-influencer-home brand-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-type-campaign">
  <div class="wrapper-type-campaign-content">
    <h1>Two types of campaigns</h1>
    <h1>Your move.</h1>
  </div>
</div>

<div class="wrapper-local-swap">
  <div class="restaurant-pic">
  </div>
  <div class="food-pic">
  </div>
  <div class="container-local-swap">
    <div class="text-center text-local-swap">
      <h1> Local Swap </h1>
      <p> Check for a Local Swap campaign in your neighbourhood</p>
      <p> Go to the spot, take a pic of the item you've perceived </p>
      <p> Share it on your instagram account </p>
      <p> Enjoy your free item </p>
    </div>
  </div>
</div>

<div class="wrapper-paid-campaign">
  <div class="paid-campaign-pic-left"></div>
  <div class="paid-campaign-pic-right"></div>
  <div class="container-paid-campaign">
    <div class="text-center text-local-swap">
      <h1> Paid Campaigns </h1>
      <p> Check for a paid campaign </p>
      <p> Apply to the campaign for the product you like and wait for the brand's answer </p>
      <p> Take the shot & post the pic on your instagram account </p>
      <p> Get paid </p>
    </div>
  </div>
</div>

<div class="wrapper-influencer-home-final">
  <div class="flex-final-text final-margin">
    <h1>Let's Do This</h1>
  </div>
  <div class="flex-final-text">
    <%= link_to "Sign-in", new_user_session_path, class:"brand-button sign-in-influencer-home"%>
  </div>

</div>

















