<div class="row">

    <div class="tabs">
      <a class="tab active" data-target="#local_swaps_wrapper">
        <h3><i class="fa fa-compass"></i>  Local Swaps</h3>
      </a>
      <a class="tab" data-target="#paid_jobs_wrapper">
        <h3><i class="fa fa-money"></i>  Paid Jobs</h3>
      </a>
    </div>

    <div id="local_swaps_wrapper" class="tab-content">
      <div id="local_swaps_view">
        <div class="fluid-container">

          <div class="row nomargin">
            <div class="col-xs-12 col-md-7 leftcol">

              <div class="row">

              <div class="local_swaps">
                <% @local_swaps.each do |campaign| %>
                <div class="col-xs-12 col-sm-5 col-md-4">
                <div class="campaign-card">
                    <p><%= campaign.title%></p>
                    <div class="campaign-card-banner" style="background-image: url('http://www.unsplash.it/300/?random');"></div>
                    <p> #<%= (campaign.product).split.join %> </p>
                    <hr class="line">
                    <%= link_to campaign_path(campaign), class: "campaign-link" do %>
                    @Check Da Campaign
                    <% end %>

                  </div>
                </div>
                <% end %>
              </div>

              </div>

            </div>
            <div class="col-xs-12 col-md-5 rightcol">

              <div id="map" style='width: 100%; height: 100%;'></div>

              <% content_for(:after_js) do %>
              <%= javascript_tag do %>
              $(document).on('ready', function() {
              handler = Gmaps.build('Google');
              handler.buildMap({ provider: {
              scrollwheel: false}, internal: { id: 'map' } }, function(){
              markers = handler.addMarkers(<%= raw @markers.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();});})
              <% end %>
              <% end %>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div id="paid_jobs_wrapper" class="tab-content hidden">
      <div id="paid_jobs_view">
        <div class="fluid-container">

          <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">

              <div class="paid_jobs">

                <div class="row">
                <% @paid_jobs.each do |campaign| %>
                <div class="col-xs-12 col-sm-5 col-md-4">
                <div class="campaign-card">
                    <p><%= campaign.title%></p>
                    <div class="campaign-card-banner" style="background-image: url('http://www.unsplash.it/200/?random');"></div>
                    <p> #<%= (campaign.product).split.join %> </p>
                    <hr class="line">
                    <%= link_to campaign_path(campaign), class: "campaign-link" do %>
                    @Check Da Campaign
                    <% end %>

                  </div>
                </div>
                <% end %>
              </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

</div>

<%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.18&client=&key=AIzaSyAWTD7XXgfWzV60HCDVLL-71xV1yoH6lBQ&libraries=geometry&language=&hl=&region=" %>
<%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
<%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js" %>
