<% content_for :meta_title, @campaign.title %>
<% content_for :meta_description, @campaign.instructions %>
<% content_for :meta_image, @campaign.photo %>

<div class="insta-influencer-card-container">
      <div class="insta-pic-business-show" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('<%= @campaign.photo %>');">
        <div class='insta-budget-container'>
          <div class='insta-budget'>
            <%= @campaign.budget %>€
          </div>
        </div>
        <div class='insta-product'><%=@campaign.product%></div>
      </div>
      <div class="business-insta-description">
        <div class="insta-title-container">
          <div class='insta-title'>
            <%= @campaign.title %>
          </div>
           <div>
          <% if policy(@campaign).update? %>
          <%= link_to 'Edit', edit_campaign_path(@campaign), class:"btn action-button" %>
          <% end %>
          </div>
        </div>

        <div class='insta-instruction'>
          <%=@campaign.instructions%>
        </div>
        <div class='insta-timeline'>
          <div class='insta-timeline-start'>
            <i class="fa fa-flag-o insta-flag" aria-hidden="true"></i> <%= @campaign.start_time %>
          </div>
          <div class="insta-timeline-line">
            <hr class="insta-timeline-color">
          </div>
          <div class='insta-timeline-end'>
            <i class="fa fa-flag-checkered insta-flag" aria-hidden="true"></i><%= @campaign.end_time %>
          </div>
        </div>
        <div class="insta-obligations">
          Vous allez devoir envoyer <strong><%=@campaign.pics_to_upload%></strong> photos, nous en selectionnerons <strong><%=@campaign.pics_to_post%></strong> à poster
        </div>

        <div class='insta-appliers-title'></div>
        <div class='insta-appliers'>
          <% if @campaign.reward_type == "Local Swap" %>
            <div id="small-map"></div>
          <% end %>
        </div>
      </div>

      <% if user_signed_in? && current_user.influencer && @campaign.reward_type == "Paid Job"%>

       <div class="apply-box">
         <h3>Apply</h3>
         <%= render 'applications/application_form' %>
       </div>

      <% end %>

  </div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).on('ready', function() {
handler = Gmaps.build('Google');
handler.buildMap({ provider: {
scrollwheel: false}, internal: { id: 'small-map' } }, function(){
marker = handler.addMarkers(<%= raw @marker.to_json %>);
handler.bounds.extendWith(marker);
handler.fitMapToBounds();});})
<% end %>
<% end %>

<%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.18&client=&key=AIzaSyAWTD7XXgfWzV60HCDVLL-71xV1yoH6lBQ&libraries=geometry&language=&hl=&region=" %>
<%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>

